/* CSS styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  min-height: 100vh;
}

.a {
  height: 1200px;
}

.parallax-container {
  display: flex;
  align-items: flex-start;
  position: relative;
  max-width: 994px;
  margin: 0 auto;
  /*background-color: #fff;*/
}

.left-content {
  width: 70%;
  padding: 2rem;
  background-color: #444;
}

/* Circle animation styles */
.circle {
  width: 30%;
  position: sticky;
  top: 2rem;
  align-self: flex-start;
  padding: 2rem;
  
  /* Circle specific styles */
  height: 200px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  position: absolute;
  width: 140px;
  height: 140px;
  background: url("https://assets.codepen.io/7344750/internal/avatars/users/default.png?fit=crop&format=auto&height=512&version=1657025755&width=512");
  background-size: cover;
  border-radius: 100vmax;
  background-position: center;
}

.text {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: consolas;
  color: #000;
  font-size: 17px;
  /* Animation removed in favor of scroll-based rotation */
}

.text span {
  position: absolute;
  left: 50%;
  font-size: 0.8em;
  transform-origin: 0 100px;
}
